<%@ page import="org.example.belleepoque.Controller.CarrinhoController" %>
<%@ page import="org.example.belleepoque.repository.CarrinhoRepository" %>
<%@ page import="org.example.belleepoque.Controller.CarrinhoController" %>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/sacola.css">
    <title>Sacola</title>
</head>
<body>
    <header>
        <form action="">
            <img src="../../resources/static/Search.png" alt="" class="lupa">
            <label for="pesquisa">
                <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar...">
            </label>
        </form>
        <img src="/static/Belle Époque.png" alt="" class="Belle">
        <botoes>
            <img src="/static/Filter alt.png" alt="" class="filter">
            <img src="/static/Vector.png" alt="" class="bag">
            <img src="/static/User.png" alt="" class="user">
        </botoes>
    </header>
    <items>
        <!--A cada roupa adicionada na sacola, um desses cards surge com suas respectivas informações.-->
        <!--Provavelmente vamo precisar de um while para ir pegando as informações dos produtos que estão na sacola-->
        <!--vai precisar de um if para verificar se o id_usuario do carrinho é o mesmo do usuario que tá logado-->
        <card>
            <img src="/static/Imagens de roupas/roupa.webp" alt="" class="roupa">
            <div>
                <titulo>
                    <!--Aqui no titulo tem que achar o nome da roupa escolhida-->
                    ROUPA EXEMPLO
                </titulo>
                <!--Aqui precisa colocar a imagem da roupa escolhida -->
                <img src="/static/Group 1.png" alt="" class="estrela">
                <desc>
                    <preco>0.0</preco>
                </desc>
            </div>
            <botao>
                <label for="qtd">
                    <select name="qtd" id="qtd">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="0">0</option>
                        <!--aqui vai precisar verificar quanto tem disponivel em estoque-->
                        <!--Caso o usuario selecione 0, a roupa deve sumir da sacola-->
                    </select>
                </label>
            </botao>
        </card>
    </items>
    <!--Aqui vai somar o valor de cada item para gerar um valor total-->
    <total>TOTAL:R$99.99</total>
    <fimPagina>
        <redes>
            <img src="/static/Facebook.png" alt="">
            <img src="/static/Twitter%20Bird.png" alt="">
            <img src="/static/Instagram.png" alt="">
        </redes>
        <fim>
            <txt>© 2025 Copyright</txt>
            <txt>Terms & Conditions</txt>
            <txt>Privacy Police</txt>
        </fim>
    </fimPagina>
</body>
</html>